# Data Munging: Strings

Data munging, the process of wrestling with data to make it into something clean and usable, is an important part of any job analyzing data.

Today we're going to focus on some data that has information we want, but the information is not properly *structured*. In particular, it comes as a single column with a string value, and we want to turn it into a series of boolean columns.

To do that, we're going to use the powerful built-in methods Python provides us to work with strings. You can read all about the available methods here: 

https://docs.python.org/3/library/string.html

In particular, we're going to use `.split()`, which is a method that turns a string into a list of strings, and `.strip()`, which removes the "whitespace" from a string.

In [2]:
# Play:
#
# Take a look at the official Python documentation for the
# "split" and "strip" methods. Play around with them now
# to make sure you understand how they work:

import pandas as pd

In [3]:
#
# 1) 
# Read the data in a csv called "jobs.csv" into a DataFrame.
# This data is from a site that posts job ads online. 
# Each row represents an ad for a job on the site.
jobs = pd.read_csv('jobs.csv')

In [55]:
# 
# Take a look at your data and note that you have
# a column called `pay`. That column is a string,
# as far as Python is concerned. However, to us
# humans, we notice that the information is more
# structured than that. It seems like a "collection
# of keywords," where each job can have zero or more
# keywords such as "Part-Time" or "Contract" which
# describe the type of contract.
#
# There are 6 different contract types. 

contract_types = ['Part-time', 'Temporary', 'Internship', 'Contract', 'Commission', 'Other']

jobs['paysplit'] = pd.Series([str(n).split(', ') for n in jobs.pay]) 

for contract in contract_types:
    jobs[contract] = pd.Series([contract in n for n in jobs.paysplit])

def fulltime(listo):
    if 'nan' in listo:
        return True
    return False

jobs['Full-time'] = pd.Series([fulltime(n) for n in jobs.paysplit])

jobs['alljobs'] = pd.Series([True for n in jobs.paysplit])

jobs.head(30)

,company,pay,category,sub_category,paysplit,Part-time,Temporary,Internship,Contract,Commission,Other,Full-time,alljobs
0,1-800-Flowers.com,NaN,Computer/internet,Web Producer jobs,[nan],False,False,False,False,False,False,True,True
1,1-800-Flowers.com,NaN,Computer/internet,VP of Information Technology jobs,[nan],False,False,False,False,False,False,True,True
2,1-800-Flowers.com,NaN,Construction/facilities,Yard Supervisor jobs,[nan],False,False,False,False,False,False,True,True
3,1-800-Flowers.com,NaN,Construction/facilities,Yard Person jobs,[nan],False,False,False,False,False,False,True,True
4,1-800-Flowers.com,NaN,Construction/facilities,Yard Manager jobs,[nan],False,False,False,False,False,False,True,True
5,1-800-Flowers.com,NaN,Construction/facilities,Yard Manager jobs,[nan],False,False,False,False,False,False,True,True
6,1-800-Flowers.com,Temporary,Construction/facilities,Yard Manager jobs,[Temporary],False,True,False,False,False,False,False,True
7,1-800-Flowers.com,NaN,Construction/facilities,Yard Manager jobs,[nan],False,False,False,False,False,False,True,True
8,1-800-Flowers.com,"Temporary, Internship",Construction/facilities,Yard Help jobs,"[Temporary, Internship]",False,True,True,False,False,False,False,True
9,1-800-Flowers.com,"Temporary, Internship",Construction/facilities,Yard Help jobs,"[Temporary, Internship]",False,True,True,False,False,False,False,True
10,1-800-Flowers.com,NaN,Construction/facilities,Yard Help jobs,[nan],False,False,False,False,False,False,True,True
11,1-800-Flowers.com,NaN,Construction/facilities,Yard Coordinator jobs,[nan],False,False,False,False,False,False,True,True
12,1-800-Flowers.com,Temporary,Construction/facilities,Yard Coordinator jobs,[Temporary],False,True,False,False,False,False,False,True
13,1-800-Flowers.com,NaN,Construction/facilities,Yard Coordinator jobs,[nan],False,False,False,False,False,False,True,True
14,1-800-Flowers.com,NaN,Arts/entertainment/publishing,Graphic Web Designer jobs,[nan],False,False,False,False,False,False,True,True
15,1-800-Flowers.com,NaN,Hospitality/travel,Floral Designer jobs,[nan],False,False,False,False,False,False,True,True
16,1-800-Flowers.com,NaN,Hospitality/travel,Floral Designer jobs,[nan],False,False,False,False,False,False,True,True
17,1-800-Flowers.com,NaN,Hospitality/travel,Floral Designer jobs,[nan],False,False,False,False,False,False,True,True
18,21st Century Oncology,NaN,Administrative,Front Desk Receptionist jobs,[nan],False,False,False,False,False,False,True,True
19,21st Century Oncology,NaN,Accounting/finance,Treasury Analyst jobs,[nan],False,False,False,False,False,False,True,True
20,21st Century Oncology,NaN,Manufacturing/mechanical,Quality Control Supervisor jobs,[nan],False,False,False,False,False,False,True,True
21,21st Century Oncology,NaN,Administrative,Receptionist jobs,[nan],False,False,False,False,False,False,True,True
22,21st Century Oncology,Contract,Accounting/finance,Director of Finance jobs,[Contract],False,False,False,True,False,False,False,True
23,21st Century Oncology,NaN,Administrative,Medical Records Clerk jobs,[nan],False,False,False,False,False,False,True,True
24,21st Century Oncology,Part-time,Administrative,Medical Records Clerk jobs,[Part-time],True,False,False,False,False,False,False,True
25,21st Century Oncology,NaN,Government/military,Intelligence Analyst jobs,[nan],False,False,False,False,False,False,True,True
26,21st Century Oncology,NaN,Healthcare,Respiratory Therapist jobs,[nan],False,False,False,False,False,False,True,True
27,21st Century Oncology,NaN,Customer Service,Help Desk Technical Support jobs,[nan],False,False,False,False,False,False,True,True
28,21st Century Oncology,NaN,Human Resources,HR Representative jobs,[nan],False,False,False,False,False,False,True,True
29,21st Century Oncology,NaN,Administrative,Operations Specialist jobs,[nan],False,False,False,False,False,False,True,True

In [ ]:
#
# 2)
# Break down your tasks, write a "pipeline" function
# called "add_contract_types".
#
# HINT: last time, each "step" returned a DataFrame
# object. This might not be the case this time, the
# steps can return any data type that is helpful
# to move the to next step!

#Did simplified code first...

In [ ]:
#
# 3) 
# Now write all the "steps" (functions) needed
# by your pipeline function (add_contract_types)

#Did simplified code first...

In [ ]:
# 
# 4)
# Now add the needed columns by using your function
# add_contract_types. You will want the returned
# DataFrame for some of the further exercises.

#Did simplified code first...

In [ ]:
#
# 5) 
# Assume that all jobs that don't specify a contract
# type in "pay" are Full-time. Create a new column, 
# called "Full-time", which is a boolean that 
# should be True if the job is Full-time, false otherwise.

# Added to original code

In [54]:
#
# 6)
# Get the percentage of jobs for each contract type
# i.e. number of jobs of X type / number of jobs

proportions = jobs.loc[:,'Part-time':'Full-time'].sum()/jobs.loc[:,'Part-time':'Full-time'].sum().sum()*100

proportions

Part-time     11.236431
Temporary      3.222506
Internship     1.154927
Contract       3.007280
Commission     0.945582
Other          0.163477
Full-time     80.269797
dtype: float64

In [37]:
# 
# 7)
# Which industries ('category') have the highest
# percentage of part-time jobs posted?
# The lowest?
share_parttime = (jobs.groupby('category').sum()['Part-time']/jobs.loc[:,'Part-time':'Full-time'].sum().sum()*100).sort_values(ascending= False)

print('Highest\n', share_parttime.head(5))
print('Lowest\n', share_parttime.tail(5))

Highest
 category
Healthcare                  2.527432
Administrative              1.132581
Restaurant/food Service     0.945582
Transportation/logistics    0.675080
Education/training          0.579816
Name: Part-time, dtype: float64
Lowest
 category
Insurance                      0.144660
Telecommunications             0.105849
Legal                          0.103497
Marketing/advertising/pr       0.061157
Upper Management/consulting    0.021170
Name: Part-time, dtype: float64

In [46]:
#
# 8)
# Which industries ('category') have the highest
# percentage of Internship jobs posted?
# The lowest?

# Note: this question is very similar to the last.
# make a function that can answer both questions

def industry_share(df, job_type):
    share = (df.groupby('category').sum()[job_type]/df.loc[:,'Part-time':'Full-time'].sum().sum()*100).sort_values(ascending= False)
    print('Highest\n', share.head(5))
    print('Lowest\n', share.tail(5))

industry_share(jobs,'Internship')

Highest
 category
Computer/internet                0.246980
Arts/entertainment/publishing    0.184647
Administrative                   0.091736
Manufacturing/mechanical         0.090559
Construction/facilities          0.069390
Name: Internship, dtype: float64
Lowest
 category
Non-profit/volunteering     0.009409
Real Estate                 0.008233
Telecommunications          0.005880
Insurance                   0.004704
Law Enforcement/security    0.003528
Name: Internship, dtype: float64

In [42]:
#
# 9)
# Use your function to ask the same question about
# Comission jobs
industry_share(jobs, 'Commission')

Highest
 category
Healthcare                  0.172886
Administrative              0.103497
Telecommunications          0.097616
Manufacturing/mechanical    0.058805
Insurance                   0.057629
Name: Commission, dtype: float64
Lowest
 category
Non-profit/volunteering          0.007057
Real Estate                      0.007057
Arts/entertainment/publishing    0.007057
Upper Management/consulting      0.007057
Restaurant/food Service          0.003528
Name: Commission, dtype: float64

In [51]:
#
# 10)
# Let's call jobs that are either Temporary, 
# Part-time or Internships "precarious". 
#
# Order the industries (category) by the 
# percentage of precarious jobs
#
# HINT: can you modify some previous function
# to make this question easy to answer?
#
# HINT: Make sure your variables reflect their
# content. Collections should be plural, single
# elements should be singular.

precarious_shares = (jobs.groupby('category').sum()[['Internship', 'Part-time', 'Temporary']]/jobs.loc[:,'Part-time':'Full-time'].sum().sum()*100)

precarious = (precarious_shares['Internship'] + precarious_shares['Part-time'] + precarious_shares['Temporary']).sort_values(ascending = False) 
precarious

category
Healthcare                       2.961412
Administrative                   1.513637
Restaurant/food Service          1.102003
Manufacturing/mechanical         0.909123
Transportation/logistics         0.863255
Construction/facilities          0.842085
Computer/internet                0.813859
Education/training               0.810331
Arts/entertainment/publishing    0.680960
Law Enforcement/security         0.671551
Non-profit/volunteering          0.652734
Customer Service                 0.539829
Government/military              0.535124
Hospitality/travel               0.528068
Human Resources                  0.365766
Banking/loans                    0.337540
Pharmaceutical/bio-tech          0.335188
Accounting/finance               0.281087
Insurance                        0.210521
Real Estate                      0.176415
Legal                            0.169358
Telecommunications               0.147012
Marketing/advertising/pr         0.125842
Upper Management/consulting      0.041163
dtype: float64

In [59]:
#
# 11)
# Get the 5 companies who post the most jobs
# in each  category, along with the number of 
# jobs listed by each company.
job_counts = jobs.groupby('company').sum()

job_types = ['Part-time', 'Temporary', 'Internship', 'Contract', 'Commission', 'Other', 'Full-time', 'alljobs']

for n in job_types:
    print(job_counts[n].sort_values(ascending=False)[0:5])

company
US Department of Veterans Affairs    419
Aramark                              412
Mercy Health                         207
Care.com                             192
US Department of the Army            181
Name: Part-time, dtype: int64
company
Lowe's Inc.                       266
UT Southwestern Medical Center     77
US Department of the Air Force     76
Time Warner                        39
State of Oregon                    34
Name: Temporary, dtype: int64
company
Time Warner                         38
Student Conservation Association    25
BAE Systems                         17
Spectrum                            17
Comcast                             16
Name: Internship, dtype: int64
company
BNP Paribas                                104
Akraya Inc.                                 54
University of California, Santa Barbara     48
Engility                                    48
Houston Independent School District         40
Name: Contract, dtype: int64
company
State of Louisiana                   97
US Department of Veterans Affairs    81
New Mexico State University          24
Orkin                                24
Massage Envy                         22
Name: Commission, dtype: int64
company
UnitedHealth Group      53
The State of Florida    13
Deloitte                10
Kaiser Permanente        6
Wells Fargo              4
Name: Other, dtype: int64
company
Care.com           975
Engility           854
Aramark            762
JP Morgan Chase    551
SAIC               534
Name: Full-time, dtype: int64
company
Care.com           1191
Aramark            1182
Engility            922
JP Morgan Chase     569
Lowe's Inc.         568
Name: alljobs, dtype: int64

In [105]:
# 12)
# Is any company in the top 5 across more than one categories??
# Return the companies who are, along with the categories
# in which they appear in the top 5.
#
# FORMAT: Dataframe with 3 columns: company, category, number of jobs

job_counts = jobs.groupby('company').sum()

job_types = ['Part-time', 'Temporary', 'Internship', 'Contract', 'Commission', 'Other', 'Full-time', 'alljobs']

top_jobs = []
for n in job_types:
    top_jobs += [pd.DataFrame(job_counts[n].sort_values(ascending=False)[0:5])]
    
top_jobs = pd.concat(top_jobs).reset_index()

appearances = pd.DataFrame(top_jobs.groupby('company').count().sum(axis = 1)).reset_index()
appearances.columns = ['company', 'appearances']
appearances = appearances[appearances.appearances > 1]
appearances = appearances.merge(top_jobs, on = 'company', how = 'inner').melt(id_vars = ['company', 'appearances'], var_name = 'job_type', value_name = 'no_jobs')
appearances[pd.notnull(appearances.no_jobs)].sort_values('company')
# HINT: take a look at the `.filter` method on GroupBy:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.DataFrameGroupBy.filter.html

                               company  appearances    job_type  no_jobs
0                              Aramark            3   Part-time    412.0
121                            Aramark            3     alljobs   1182.0
103                            Aramark            3   Full-time    762.0
106                           Care.com            3   Full-time    975.0
3                             Care.com            3   Part-time    192.0
124                           Care.com            3     alljobs   1191.0
57                            Engility            3    Contract     48.0
109                           Engility            3   Full-time    854.0
127                           Engility            3     alljobs    922.0
129                    JP Morgan Chase            2     alljobs    569.0
111                    JP Morgan Chase            2   Full-time    551.0
28                         Lowe's Inc.            2   Temporary    266.0
131                        Lowe's Inc.            2     alljobs    568.0
30                         Time Warner            2   Temporary     39.0
48                         Time Warner            2  Internship     38.0
84   US Department of Veterans Affairs            2  Commission     81.0
15   US Department of Veterans Affairs            2   Part-time    419.0